.item-1{
	background:url(../../img/blue/questionnaire/questionset7/group1.png) no-repeat bottom right #F3F3F3;
	height:230px;
}

.item-2{
	height:255px
}
.item-3{
	background:url(../../img/blue/questionnaire/questionset7/couple1.png) no-repeat bottom right #F3F3F3;
	height:158px;
}
.item-5{
	background:url(../../img/blue/questionnaire/questionset7/group2.png) no-repeat bottom right #F3F3F3;
	height:158px;
}


