.col-container-wrap{
	width:100%;
	height:auto;
}

.col-left{
	width:30%;
	height:auto;
}


.col-right{
	width:65%;
	height:auto;
	padding-bottom:20px;
}

.p-top{
	padding-top:20px;
}

.age{
	width:35px;
	margin:0 3px;
}
