.content-container {
    height: auto;
}

#header-wrap{
	height:50px;
	width:100%;
}

#header-title{

}

.half{
	width:50%
}

#header-title p{
	font-size:18px;
	font-weight:bold;
	padding:10px;
	color: #33659A;
}

#header-links{
	
}

#header-links ul{
	padding:15px 0 0 200px;	
}

#header-links li{
	padding:8px;
	list-style:none;
	display:inline;
}

.active-link, .bold{
	font-weight:bold;
}

#teaser{
	height:35px;
	width:90%;
	margin:0 45px;
    background-color: #C5DCEA;
    border: 1px solid #8CB9D6;
}

#teaser p{
	text-align:center;
	padding-top:8px;
	font-weight:bold;
}

#teaser span a{
	margin-left:15px;
}

#excerpt-text{
	width:100%;
}

#excerpt-text p{
	padding:20px 45px;
}

#main-wrap{
    margin: 0 20px;
    width: 100%;
}


.main-content, .main-content-tab-bar {
	display: block;
	float: left;
	width: 880px;
	height: 36px;
	background-color: transparent;
}

.main-content, .main-content-tab-bar ul {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-content, .main-content-tab-bar ul li {
	display: block;
	float: left;
}

.main-content, .main-content-tab-bar ul li a {
	display: block;
	float: left;
	height: 36px;
	line-height: 36px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	background-color: transparent;
	font-size: 14px;
	color: #045d9f;
	font-weight: bold;
	margin-right: 2px;
	cursor: pointer;
}

.main-content, .main-content-tab-bar ul li a span {
	display: inline-block;
	float: left;
	background-image: url(../img/blue/match-settings/matches-tab-center-normal.png);
	background-position: 0px 0px;
	background-repeat: repeat-x;
	padding: 0px 5px;
}

.main-content,  .main-content-tab-bar ul li a span.tab-left {
	width: 5px;
	height: 36px;
	background-image: url(../img/blue/match-settings/matches-tab-left-normal.png);
	padding: 0px;
}

.main-content, .main-content-tab-bar ul li a span.tab-right {
	width: 5px;
	height: 36px;
	background-image: url(../img/blue/match-settings/matches-tab-right-normal.png);
	padding: 0px;
}

.main-content, .main-content-tab-bar ul li.active a {
	color: #fff;
}

.main-content, .main-content-tab-bar ul li.active a span {
	background-image: url(../img/blue/match-settings/matches-tab-center-active.png);
}

.main-content, .main-content-tab-bar ul li.active a span.tab-left {
	background-image: url(../img/blue/match-settings/matches-tab-left-active.png);
}

.main-content,  .main-content-tab-bar ul li.active a span.tab-right {
	background-image: url(../img/blue/match-settings/matches-tab-right-active.png);
}

.tab-content-container-top {
	display: block;
	float: left;
	width: 880px;
	height: 7px;
	background-color: #045d9f;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topright: 7px;
	border-top-right-radius: 7px;
}


.next-step-bar {
	display: block;
	float: left;
	width: 868px;
	height: 40px;
	padding-top: 14px;
	padding-left: 10px;
	background-color: #00f;
	background-image: url(../img/blue/match-settings/next-step-bg.jpg);
	background-position: 0px 0px;
	background-repeat: repeat-x;
	border-bottom: 1px solid #8cb9d6;
}

.next-step-bar span {
	display: block;
	float: left;
	color: #33659a;
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
}

.m-container{
    background-color: #FFFFFF;
    border: 1px solid #8CB9D6;
    display: block;
    width: 878px;
	height:auto;
	padding-bottom:20px;
	margin-bottom:20px;
}

.m-container p, h4{
	padding:0px;
	margin:0;
}

.title-wrapper{
	padding:20px 0 0 45px;
}

.choices{
	padding:20px 50px;
}


.m-container li{
	list-style:none;
}

div.line{
	width:90%;
	margin:0 auto;
	border-top: 1px solid #8CB9D6;
}

#buttons{
	padding:20px 50px;
}

button{
	margin-right:10px;
}

button.cancel{
	background:url(../img/blue/match-settings/cancel.png) no-repeat transparent;
	width:69px;
	height:24px;
	border:none;
}

button.cancel:hover{
	background-position:0 -25px;
	width:69px;
	height:24px;
}

button.cancel:active{
	background-position:0 -51px;
	width:69px;
	height:24px;
}

button.save{
	background:url(../img/blue/match-settings/save.png) no-repeat transparent;
	width:69px;
	height:24px;
	border:none;
}

button.save:hover{
	background-position:0 -25px;
	width:69px;
	height:24px;
}

button.save:active{
	background-position:0 -51px;
	width:69px;
	height:24px;
}