@CHARSET "ISO-8859-1";
.settings-container{
	overflow:visible;
	border-radius:5px;
	border:1px solid #666666;
	width:876px;
	margin:20px;
	background-image:url(../img/blue/index/top.gif);
	background-repeat:repeat-x;
	padding-top:24px;

}
.subscribe-banner{
	margin-left:20px;
}
.left-container{
	width:350px;
	padding-top:20px;
	overflow:hidden;
}
.left-container .profile-pic{
	margin-left:20px;
}
.left-container .profile-info{
	margin-left:5px;
	width:160px;
}
.left-container .profile-info h1{
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding:0;	
}
.left-container .controls-vertical{
	list-style-type:none;
	padding:0;
	margin:0px;
}
.left-container div.controls-vertical{
	margin-top:45px;
}
.controls-vertical li{
	width:100%;
}
.controls-vertical li span.left{
	margin-right:5px;
}
span.count a, span.upload a{
	color:#005F9D;
	text-decoration:none;
}
.match-header{
	background:url(../img/blue/index/sliced_match.png) repeat-x transparent;
	border:1px solid #D3D3D3;
	margin:0;
	padding:0;
	width:261px;
	height:30px;
	font-size:0px;
	margin-left:20px;
}
.match-header span.matches-header-content{
	margin:5px;
	font-size:12px;
	font-weight:bold;
	color:#666666;
	display:block;
}
.matches-header-content-colored{
	color:#005F9D;
}
.match-content-list{
	width:261px;
	margin-left:20px;
	border:1px solid #ccc;
	overflow:hidden;
}
.match-content-list ul{
	list-style-type:none;
	padding:0;
	margin:0 9px 0 9px;
	width:240px;
}
.match-content-list ul li{
	min-height:70px;
	display:block;
	float:left;
	width:98%;
	padding-top:10px;
	border-bottom:1px solid #ccc;
	overflow:hidden;
}
.match-content-list ul li.shout-box{
	width:100%;
	border-bottom:none;
}
.match-content-list ul li.shout-box dl{
	overflow:hidden;
	width:100%;
	margin:0;
	padding:0;
}
.match-content-list ul li.shout-box dd{
	width:100%;
	margin:0;
	padding:0;
}


ul.controls{
	list-style-type:none;
}

span.time{
	font-size:11px;
	color:#0963A1;
	display:block;
	margin-right:3px;
	margin-top:18px;
}
.shouter {
	width:99% !important;
	min-width:99% !important;
	max-width:99% !important;
	height:113px !important;
	min-height:113px !important;
	max-height:113px !important;
	padding:0;
	margin:0;
	border-radius:3px;
	background-color:#F1FAFE;
	border:1px solid #ccc;
}

.match-content-list ul li img{
	height:47px;
	width:54px;
	margin-right:5px;
	border:1px solid #2575AA;
}

.match-content-list ul li div.profile-info{
	margin-left:5px;
}

.match-content-list ul li div.profile-info span.name{
	color:#005F9D;
}

.match-content-list ul li p{
	font-size:11px;	
	padding:0;
	color:#666666;
}


.time{
	color:#005F9D;
	font-size:11px;
}
.match-shout{
	width:150px;
}

.shout-box{
	
}

.match-content-list ul li.submit{
	border-bottom:none;
	height:20px;
}

.match-list-shadow{
	background:url(../img/blue/index/shadow.png) no-repeat 0 -5px;
	height:11px;
	width:261px;
	margin-left:20px;
	overflow:hidden;
}

.com-advice-header{
	background:url(../img/blue/index/memberhome_advice.png) repeat-x transparent;
	font-weight:bold;
}

.com-advice-header span.matches-header-content{
	margin-left:46px;
}
.advice-content-list{
	background-color:#F0F0F0;
	min-height:200px;
	margin-bottom:100px;
}
.advice-content-list ul li{
	border:none;
	height:100px;
	background:url(../img/blue/index/line.png) no-repeat 0 95px;
}

.right-container{
	width:506px;
	padding:20px 20px 0 0;
}

.date{
	font-size:11px;
}
.activity h2{
	font-weight:bold;
	font-size:13px;
}
.activity h2 button{
	height:21px;
	width:21px;
	border:none;
	margin-left:3px;
}

.activity h2 button:hover{
	background-position:0 -46px;
}

.activity h2 button:active{
	background-position:0 -23px;
}


.activity-group-button{
	background:url(../img/blue/index/group.png) no-repeat;
}

.activity-list-button{
	background:url(../img/blue/index/list.png) no-repeat;
}

.activity-controls{
	height:34px;
	padding-top:10px;
	width:100%;
	background:url(../img/blue/index/memberhome_activity.png) repeat-x;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border-bottom:1px solid #cdcdcd;
	border-left:1px solid #cdcdcd;
	border-right:1px solid #cdcdcd;
	border-top:4px solid #005F9D;
}

.header-button{
	width:76px;
	height:28px;
	border:none;
	background:url(../img/blue/index/buttons-activity.png) no-repeat;
	margin-right:4px;
	text-align:center;
}
.header-button:hover{
	background-position:0 -60px;
}
.header-button:active{
	background-position:0 -30px;
}
.filter-by{
	margin-right:5px;
	font-size:14px;
}

.match-list{
	width:100%;
	height:65px;
}

.view{
	display:block;
	background:url(../img/blue/index/view.png) no-repeat;
	width:108px;
	height:32px;
}

.view:hover{
	background-position:0 -68px;
}

.view:active{
	background-position:0 -34px;
}

.q{
	margin-left:30px;
}
.q-name{
	font-size:14px;
	color:#cdcdcd;
	margin-left:14px;
	font-weight:bold;
}
.activity-block{
	width:100%;
	position:relative;
	z-index:4;
	min-height:15px;
}
.activity-block ul{
	margin:0;
	list-style-type:none;
	padding:0;
}
.activity-block ul li{
	float:left;	
	min-height:120px;
	width:100%;
	padding-top:10px;
}
.activity-block ul li.last{
	min-height:30px;
	margin-left:10px;
}

.shadow{
	background:url(../img/blue/index/shadow_s1.png) no-repeat;
	height:13px;
	width:457px;
	margin-left:40px;
}
.name-location{
	background:url(../img/blue/index/cone.png) no-repeat 0 57px;
	height:67px;
	width:226px;
	position:relative;
	z-index:20;
}
.no-bg{
	background:none
}

.no-bg h4 span{
	color:#999;
}

.activity-block .activity-picture{
	margin-left:24px;
}
.activity-block .activity-picture img{
	height:89px;
}
.activity-content{
	margin-left:18px;
}
.message-stream{
	width:315px;
	min-height:50px;
	background-color:#FFFBE8;
	border-radius:5px;
	border:1px solid #999999;
	position:relative;
	z-index:2;
	padding:5px 10px 5px 10px;
	margin-right:1px;
	color:#666666;
}
.message-stream p{
	padding:0;
	margin:0;
}
.activity-content-button-date{
	
}
.activity-content-button{
	display:block;
	background:url(../img/blue/index/button-activity.png) no-repeat 3px 3px;
	text-decoration:none;
	height:35px;
	width:115px;
	color:#000;
}

.activity-content-button:hover{
	color:#000;
}

.activity-content-button span{
	margin-left:10px;
	margin-top:10px;
	display:block;
}


.location{
	color:#666666;
	font-size:10px;
}
.activity-content h4{
	font-size:14px;
	color:#005F9D;	
	margin:0;
}
.activity-content-block{
	width:100%;
	min-height:40px;
	overflow:visible;
	border:1px solid #d3d3d3;
}
.activity-content-block h3{
	width:510px;	
	background:url(../img/blue/index/repeat-center.png) repeat-x;
	height:44px;
	margin-left:-3px;
	margin-top:-1px;
	z-index:3;
}
.activity-content-block h3 span{
	font-weight:bold;
	color:#005F9D;
	font-size:16px;
	display:block;
	margin-top:7px;
}
.edge-left{
	background:url(../img/blue/index/edge_left.png) no-repeat;
	margin-left:-18px;
	height:57px;
	width:18px;
	margin-top:-1px;
}
.edge-right{
	background:url(../img/blue/index/edge_right.png) no-repeat;
	height:57px;
	width:18px;
	margin-right:-18px;
	margin-top:-1px;
}
.viewer{
	margin-left:36px;
}
.match-list{
	padding-top:12px;
}
.post-button{
	border:none;
	background:url(../img/blue/index/post.png) no-repeat;
	height:26px;
	width:61px;
	float:right;
}
.post-button:hover{
	background-position:0 -55px;
}
.post-button:active{
	background-position:0 -27px;
}
.advice-content-list ul{
	margin-left:18px;
}
.advice-content-list ul li{
	min-height:160px;
	background:none;
	overflow:hidden;
	height:auto;
}
.advice-content-list ul li div.shadow{
	background:url(../img/blue/index/line.png) no-repeat;
	height:3;
	width:205px;
	margin:auto;
	margin-top:10px;
}	
.advice-content-list ul li h5{
	font-weight:bold;
	color:#005279;
	border-bottom:1px dashed #999999;
	margin:0;
	width:100%;
	margin-bottom:10px;
}
.advice-content-list ul li div.content{
	overflow:hidden;
	width:210px;
}
.advice-content-list ul li div.content p{
	display:block;	
	width:auto;
}
.advice-content-list ul li img{
	width:224px;
	height:124px;
}
#whoviewed_accordion_item{
	border-bottom:4px solid #005F9D;
}