/**
* Home - old
*/

html {
	overflow: scroll;
	overflow-x: hidden;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #000099;
	background-image: url(../img/home/glow.png);
	background-position: center center;
	background-repeat: no-repeat;
}

#container {
	position: relative;
	height: 100%;
	min-width: 800;
	min-height: 580;
	background-color: transparent;
	margin-top: 0;
	overflow: hidden;
}

#show_signup_login_page_toggle_button p {
	margin: 0;
	padding: 0;
	width: 100px;
	height: 25px;
	text-align: center;
	vertical-align: middle;
	font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#show_signup_login_page_toggle_button {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 100px;
	height: 25px;
	background-color: transparent;
	background-image: url('../img/home/button.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	text-align: center;
	color: #c7ced6;
}

#show_signup_login_page_toggle_button:hover {
	background-position: -100px 0px;
	cursor: hand;
	color: #fff;
}

#show_signup_login_page_toggle_button:active {
	background-position: -200px 0px;
	color: #fff;
}

#show_signup_login_page_toggle_button:active p {
	padding: 1px 0 0 1px;
}

#header {
	position: absolute;
	width: 100%;
	height: 101px;
	top: 25px;
	/*background-color: #EEEE00;*/
	background-image: url('../img/home/logo.png');
	background-repeat: no-repeat;
	background-position: center center;
}

.slideshow {
	position: absolute;
	width: 100%;
	height: 300px;
	top: 136px;
	background-color: transparent;
}

.slideshow_min {
	position: absolute;
	width: 50%;
	height: 300px;
	top: 136px;
	right: 50%;
	background-color: transparent;
}

.slideshow div.image_wrapper {
	position: absolute;
	height: 300px;
	width: 30%;
	top: 0;
	left: 100%;
	background-color: transparent;
	text-align: center;
}

.slideshow_min div.image_wrapper_min {
	position: absolute;
	height: 300px;
	width:
	top: 0;
	right: 0px;
	background-color: transparent;
	z-index: 8;
	opacity: 0.0;
}

.slideshow_min div.image_wrapper_min.last-active {
	z-index: 9;
}

.slideshow_min div.image_wrapper_min.active {
	opacity: 1.0;
	z-index: 10;
}

.slideshow_min div.image_wrapper_min img {
	position: absolute;
	top: 0;
	right: 0;
}

.signup_form {
	position: absolute;
	width: 100%;
	height: 48px;
	top: 446px;
	background-color: transparent;
	margin: 0;
	padding: 0;
}

.signup_form_container {
	width: 812px;
	height: 48px;
	background-color: transparent;
	margin:  0px auto;
	padding: 0;
}

.signup_form_min .signup_form_container {
	width: 203px;
	height: 192px;
	margin: 54px 0px 54px 50px;
}

.signup_form2 {
	margin: 0;
	padding: 0;
	background-color: transparent;
}

.signup_form_min {
	position: absolute;
	width: 50%;
	height: 300px;
	top: 136px;
	left: 50%;
	background-color: transparent;
}

.signup_form_min input, .signup_form_min button {
	display: block;
}

#reasons_page_signup_form {
	position: absolute;
	width: 100%;
	height: 48px;
	top: 21px;
	background-color: transparent;
	margin: 0;
	padding: 0;
}

.signup_form button, .signup_form_min button, #reasons_page_signup_form button {
	width: 203px;
	height: 48px;
	background-color: transparent;
	background-image: url('../img/home/signup_button.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	border: none;
	text-align: left;
	padding: 0 0 0 30px;
	margin: 0;
	color: #030;
	float: left;
}

.signup_form button:hover, .signup_form_min button:hover, #reasons_page_signup_form button:hover {
	cursor: hand;
	background-position: -203px 0px;
	color: #040;
}

.signup_form button:active, .signup_form_min button:active, #reasons_page_signup_form button:active {
	background-position: -406px 0px;
	color: #040;
}

.signup_form button:active span, .signup_form_min button:active span, #reasons_page_signup_form button:active span {
	padding: 1px 0 0 1px;
	color: #040;
	font-weight: bolder;
}

.signup_form button span, .signup_form_min button span, #reasons_page_signup_form button span {
	font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	text-shadow:0 1px 1px rgba(255,255,255,0.37);
}

#login_form {
	position: absolute;
	width: 100%;
	height: 48px;
	top: 136px;
	background-color: transparent;
	margin: 0px;
	padding: 0px;
}

.login_form_container {
	width: 609px;
	height: 48px;
	background-color: transparent;
	margin: 0px auto;
	padding: 0px;
}

#login_form2 {
	background-color: transparent;
	margin: 0;
	padding: 0;
}

#login_form button {
	width: 203px;
	height: 48px;
	background-color: transparent;
	background-image: url('../img/home/signup_button.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	border: none;
	text-align: left;
	padding: 0 0 0 70px;
	margin: 0;
	color: #030;
	float: left;
}

#login_form button:hover {
	cursor: hand;
	background-position: -203px 0px;
	color: #040;
}

#login_form button:active {
	background-position: -406px 0px;
	color: #040;
}

#login_form button:active span {
	padding: 1px 0 0 1px;
	color: #040;
	font-weight: bolder;
}

#login_form button span {
	font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	text-shadow:0 1px 1px rgba(255,255,255,0.37);
}

#footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 140px;
	//background-color: #FF0000;
	text-align: center;
	color: white;
}

.footer_links {
	color: #c7ced6;
	font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.footer_links a {
	text-decoration: none;
	color: #c7ced6;
	font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0 0 0 15px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.footer_links a:hover {
	color: #FFF;
}

.footer_links a:active {
	color: #c7ced6;
}

#show_reasons_page_button {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100px;
	background-color: #000066;
}

#show_reasons_page_button:hover {
	background-color: #000077;
}

#lip {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 19px;
	background-color: transparent;
	background-image: url('../img/home/footer_button_lip.png');
	background-repeat: repeat-x;
	z-index: 1;
}

#why-choose-qalanjo {
	font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bolder;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#show_reasons_page_button:hover {
	cursor: hand;
}

#reasons {
	position: relative;
	min-width: 800px;
	background-color: #000066;
}

#reasons_container {
	padding: 10px;
	margin: 0px auto;
	width: 950px;
	background-color: transparent;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
}

#reasons_header {
	position: fixed;
	width: 100%;
	height: 190px;
	min-width: 800px;
	top: 0;
	background-color: transparent;
	z-index: 100;
}

#reasons_form_container {
	height: 90px;
	background-color: #0000bb;
}

#reasons_page_lip {
	width: 100%;
	height: 19px;
	background-color: transparent;
	background-image: url('../img/home/footer_button_lip.png');
	background-repeat: repeat-x;
}

#show_signup_page_button p {
	margin: 0;
	padding: 0;
	width: 100px;
	height: 25px;
	text-align: center;
	vertical-align: middle;
	font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#show_signup_page_button {
	position: absolute;
	top: 30px;
	right: 10px;
	width: 100px;
	height: 25px;
	background-color: transparent;
	background-image: url('../img/home/button.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	text-align: center;
	color: #c7ced6;
}

#show_signup_page_button:hover {
	background-position: -100px 0px;
	cursor: hand;
	color: #fff;
}

#show_signup_page_button:active {
	background-position: -200px 0px;
	color: #fff;
}

#show_signup_page_button:active p {
	padding: 1px 0 0 1px;
}

#show_signup_page_button:hover {
	cursor: hand;
}

#reasons_container h1 {
	padding-left: 125px;
	padding-bottom: 10px;
	border-bottom: 2px solid #090;
	font: normal 1.5em Impact, "Arial Narrow", sans-serif;
	color: #152D6A;
	background-image: url(../img/home/reasons_min_logo.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

#reasons_container h2 {
	margin-top: 15px;
	padding-left: 30px;
	border-bottom: 1px dotted #999;
	font: normal 1.4em Georgia, "Times New Roman", Times, serif;
	color: #152D6A;
	background-image: url(check.png);
	background-position: 0 2px;
	background-repeat: no-repeat;
}

#reasons_container p {
	font-size: 14px;
	
}

#reasons_container ul {
	font-size: 11px;
	padding-left: 10px;
	list-style-type: none;
}

#reasons_container ul li {
	border-right: 1px solid #0f0;
	width: 115px;
	height: 200px;
	float: left;
	text-align: center;
	padding: 5px;
}

.list-last {
	border-right: none!important;
}

#reasons-content-border-top {
	height: 30px;
	background-color: transparent;
	background-image: url(../img/home/border_top.png);
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

#reasons-content-wrap {
	padding: 30px;
	background-color: transparent;
	background-image: url(../img/home/border_center.png);
	background-repeat: repeat-y;
	margin: 0;
	color: #333;
}

#reasons-content-left {
	border-right: 2px groove #CCC;
	background-color: transparent;
	padding: 10px 50px;
	width: 60%;
}

#reasons-content-border-bottom {
	height: 30px;
	background-color: transparent;
	background-image: url(../img/home/border_bottom.png);
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

#reasons-content-footer {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: white;
}

.clear {
	clear: both;
}

.space-top {
	padding-top: 10px;
}

.step {
	margin-bottom: 15px;
	width: 115px;
	height: 80px;
	background-color: transparent;
}

.step-1 {
	background-image: url(../img/home/step-1.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.step-2 {
	background-image: url(../img/home/step-2.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.step-3 {
	background-image: url(../img/home/step-3.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.step-4 {
	background-image: url(../img/home/step-4.png);
	background-position: center center;
	background-repeat: no-repeat;
}
